<main>

    {{#if itemList.length}}
    <div class="container">
        {{#each itemList}}
        <div class="item">
            <img src="{{this.Image}}" alt="{{this.Name}}" class="item-image">
            <p>{{this.Name}}</p>
            <p>${{this.Price}}</p>
            <a href="/item/{{this._id}}" class="item-details">View Details</a>
        </div>
        {{/each}}
        <!-- Add up to 5 more items as needed -->
    </div>
    <!-- Pagination Controls -->
    <div class="pagination">
        {{#if previousPage}}
        <a href="/item?page={{previousPage}}" class="pagination-button">Previous</a>
        {{/if}}
        <span>Page {{page}}</span>
        {{#if nextPage}}
        <a href="/item?page={{nextPage}}" class="pagination-button">Next</a>
        {{/if}}
    </div>
    {{else}}
    <p>No items currently.</p>
    {{/if}}

</main>