<main>
    <h2>Your Wishlist</h2>
    {{#if wishlistItems.length}}
    <ul class="wishlist-items">
        {{#each wishlistItems}}
        <li class="wishlist-item">
            <h3>{{this.Name}}</h3>
            <p>{{this.Description}}</p>
            <p><strong>Price:</strong> ${{this.Price}}</p>
            <a href="/item/{{this._id}}">View Details</a>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>Your wishlist is currently empty. Browse items and add your favorites!</p>
    <a href="/item">Go to Items</a>
    {{/if}}
</main>